<style>
	.row {
		margin-top: 100px;
	}
</style>

<div class="jumbotron">
	<div class="container">
		<h1>A year in stats</h1>
		<p>
			Swedish statistics from
			<select ng-options="year as year for year in $ctrl.availableYears" ng-model="$ctrl.selectedYear" ng-change="$ctrl.onYearChanged()"></select>
			visualized
		</p>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<stat-simple value="{{$ctrl.peopleTotal | number}}" description="people alive"></stat-simple>
		<stat-chart data="$ctrl.genderData" labels="$ctrl.genderLabels" description="gender distribution" type="pie"></stat-chart>
	</div>
</div>