<div class="jumbotron">
  <div class="container">
    <h1>A year in stats</h1>
    <p>
      Swedish statistics from
      <select [ngModel]="selectedYear" (ngModelChange)="onYearChanged()">
        <option *ngFor="let year of availableYears" [value]="year">{{year}}</option>
      </select>
      visualized
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <stat-simple [value]="peopleTotal | number" description="people alive"></stat-simple>
    <stat-chart [data]="genderData" [labels]="genderLabels" description="gender distribution" type="pie">
    </stat-chart>
  </div>
</div>
